

.judul-blog {
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
}
.content1, .content2{
    display: flex;
    padding: 0px 45px;
    align-items: center;
    text-align: justify;
}
.content1 img {
    margin-top: 30px;
}
.img-content{
    width: 300px;
}