.photo-contact{
    text-align: center;
    
}
.foto img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-size: cover;
}
.tempat-foto{
    justify-content: center;
    width: 100%;
    display: flex;
}
.foto{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 25px;
}
/* h1{
    margin-bottom: 15px;
} */

.left-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    width: 400px;
    /* height: 100vh; */
    padding: 82px 0px;
    background-color: #6495ED;
}
.nav-menu{
    display: flex;
}
.contact-btn{
    width: 60%;
    font-size: 15px;
    padding: 10px 0px;
    margin-bottom: 15px;
    border-radius: 8px;
    outline: none;
    border: none;
}
.contact-btn:hover{
    background-color: #06ec06;
    color: white;
}
.container-profile{
    display: flex;
    /* margin-top: -10%; */
}
.content-profle{
    /* padding-top: 90px; */
    padding: 30px 20px;
}
/* 
.skil h1{
    margin: 0;
} */